astropy>=4.0
llc>=0.2
barycorrpy>=0.4.1
tqdm>=4.48.2
numba>=0.48
numpy>=1.18
optimparameters>=1.0.6
robustneldermead>=1.4
matplotlib>=3.1.3
googledrivedownloader>=0.4
scipy>=1.4.1
joblib>=0.14.1
scikit-learn>=0.22.2
PyAstronomy>=0.16.0
torch>=1.5.1
streamlit>=0.73.1
plotly>=4.14.1
emcee>=3.0.2
bayesoptimize>=1.0.2
webcolors>=1.11.1
pylatex>=1.4.1
mpld3>=0.5.2